* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table {
  margin: 0 auto;
  max-width: 1000px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.075);
}
header {
  width: 100%;
}
.searchBar {
  display: flex;
  justify-content: space-between;
}
input {
  width: 200px;
  color: rgba(0, 98, 0, 0.534);
  margin-right: 60px;
  margin-top: 14px;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
}
.logo {
  margin-left: 20px;
}
.logo p {
  font-size: 15px;
  font-weight: bolder;
  color: rgba(0, 98, 0, 0.534);
}
.year {
  /* margin-right: 20px; */
}
.category {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 3px;
}
.category div {
  width: 25%;
  text-align: center;
}
.songClass {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.096);
  border-radius: 20px;
  margin-bottom: 3px;
}
.songClass div {
  width: 25%;
  text-align: center;

}
footer {
  height: 40px;
  display: flex;
}
button {
  border-radius: 5px;
  margin-right: 10px;
}
.btnGrp {
 width: 50%;
}
.btnGrp :first-child {
  margin-left: 10px;
 }
 .pgn {
  margin-left: 7px;
}
.notFound h3 {
  text-align: center;
}

